<h1 mat-dialog-title>Set Fan Speed</h1>
<div mat-dialog-content>
    <p>Speed Percentage:</p>
    <mat-form-field>
        <mat-label>Speed, from 0 to 100</mat-label>
        <input matInput type="number" min="0" max="100" [(ngModel)]="data.speed" [formControl]="speed_control">
        <span matSuffix>%</span>
        <mat-error *ngIf="speed_control.invalid">Max Percentage: 100%</mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onCancelClick()">Cancel</button>
    <button mat-raised-button [mat-dialog-close]="data">OK</button>
</div>